{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h2>Bienvenido, {{ user.username }} 👋</h2>
  <p>Rol: {{ user.get_role_display }}</p>

  {% comment %}
  <a href="{% url 'lista_espacios' %}" class="btn btn-primary"
    >🏢 Espacios de Trabajo</a
  >
  {% endcomment %}
  <h3>Reservas Actuales</h3>
  <p>Aquí podrás ver tus reservas activas y pasadas.</p>

  {% comment %}
  <a href="{% url 'mis_reservas' %}" class="btn btn-success">📅 Mis Reservas</a>
  {% endcomment %}

  <br /><br />
</div>
{% endblock %} {% block title %}Dashboard{% endblock title %}
