{% extends "base.html" %} 
{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="h4 fw-bold"><i class="bi bi-people me-2"></i>Gestión de Espacios</h2>
      <div>
        <a href="{%url 'registrar_espacio'%}" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" title="Registrar Usuario">
            <i class="bi bi-building-add"></i>
        </a>
        <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" title="Descargar CSV">
          <i class="bi bi-download"></i>
        </a>
  
      </div>
    </div>
</div>

<!-- filtros -->
<div class="card mb-4 shadow-sm">
    <div class="card-body">
      <form method="GET" class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="text" name="q" placeholder="Buscar espacio..." 
                   value="{{ request.GET.q }}" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="input-group">

                <span class="input-group-text">
    
                    <i class="bi bi-people-fill"></i>
                </span>
                <input type="number"  class="form-control" name="capacidad" value="{{ request.GET.capacidad }}" placeholder="Capacidad" min="0">
            </div>

        </div>

        <div class="col-6 col-md-3 col-lg-2">
          <select name="type" class="form-select form-select-sm">
            <option value="">Todos los tipos</option>
            <option value="OFICINA" {% if request.GET.type == "OFICINA" %}selected{% endif %}>Oficina</option>
            <option value="SALA_REUNIONES" {% if request.GET.type == "SALA_REUNIONES" %}selected{% endif %}>Sala de reuniones</option>
            <option value="COWORKING" {% if request.GET.type == "COWORKING" %}selected{% endif %}>Coworking</option>
          </select>
        </div>

        <div class="col-6 col-md-3 col-lg-2">
          <select name="availability" class="form-select form-select-sm">
            <option value="">Todos los estados</option>
            <option value="disponible" {% if request.GET.availability == True %}selected{% endif %}>Disponibles</option>
            <option value="ocupado" {% if request.GET.availability == False %}selected{% endif %}>Ocupadas</option>
          </select>
        </div>

        


        <div class="col-12 col-md-6 col-lg-4">
          <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="bi bi-funnel me-1"></i>Filtrar
            </button>
            <a href="{% url 'lista_espacios' %}" class="btn btn-outline-secondary btn-sm">
              <i class="bi bi-arrow-counterclockwise me-1"></i>Limpiar
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

<!-- Tabla -->
<div class="card shadow-sm mb-5">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="ps-4">#ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Opciones</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for espacio in espacios %}
                <tr>

                    <td class="ps-4 fw-semibold text-muted">{{ espacio.id }}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            {{ espacio.name }}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            {% if espacio.type == "OFICINA" %}
                            <i class="bi bi-pc-display"></i>
                            Oficina
                            {% elif espacio.type == "SALA_REUNIONES"  %}
                            <i class="bi bi-building"></i>
                            Sala de reuniones
                            {% elif espacio.type == "COWORKING"  %}
                            <i class="bi bi-buildings"></i>
                            Coworking
                            {% endif%}
                        </div>
                    </td>
                    <td>
                        {{espacio.capacity}}
                        
                    </td>
                    <td>
                        {{espacio.location}}
                    </td>
                    <td>
                        <span class="badge status-badge {% if espacio.availability %}bg-success{% else %}bg-danger{% endif %}">
                            {% if espacio.availability %}Disponible{% else %}Ocupado{% endif %}
                          </span>
                    </td>
                    <td>
                        <a href="{% url 'editar_espacio' espacio.id%}"  class="btn btn-outline-warning btn-sm" data-bs-toggle="tooltip" title="Editar Espacio">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
 

{% endblock content %} 
{% block title %}Lista Workspaces{% endblock title %}
